@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@import java.util.List;
@(message: String)(artistas: List[String])(vecinos: List[User])(user: User)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@


    @if(session.get("id") != null) {
        <h1>Buscar una nueva recomendación</h1>
        <div class="row">
            <form id="myAjaxDrivenForm" action="/recommender/recommend" method="get">
                <div class="form-group">
                    <div class="col-md-4">
                        <label>
                            Numero de Vecinos:
                            <input type="number" name="numberNeighbors" class="form-control" required>
                            Numero de recomendaciones:
                            <input type="number" name="numberRecommended" class="form-control" required>

                        </label>
                    </div>
                    <div class="col-md-3">
                        Medida de similitud:
                        <select name="medidaSimilitud">
                            <option value="Coseno">Coseno</option>
                            <option value="Tanimoto">Tanimoto</option>
                            <option value="Pearson">Pearson</option>
                        </select>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Pedir Recomendación</button>
                <a href="/recommender/itemRecommendation" class="btn btn-warning">Recomendación ítem-ítem</a>
            </form>
        </div>

        @if(artistas != null){
            <br>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <h3>Artistas sugeridos: </h3>
                    <div class="row">
                        @for(artista <- artistas) {
                            <div class="col-md-3">
                                @artista
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Los Artistas que más te gustan: </h3>
                    <div class="row">
                        @for(preference <- user.topPreferences) {
                            <div class="col-md-3">
                                <strong>@Artist.find.byId(preference.itemId).artistName</strong>
                                <br>
                                @preference.preference
                            </div>
                        }
                    </div>
                </div>
            </div>
            <h3>Vecinos: </h3>
            <div class="row">
            @for(vecino <- vecinos) {
                <div class="col-md-4 card">
                    <h5 class="card-header">@vecino.userProfileId</h5>
                    <div class="card-block">
                        <div class="row">
                            @for(preference <- vecino.topPreferences) {
                                <div class="col-md-3">
                                    <strong>@Artist.find.byId(preference.itemId).artistName</strong>
                                    <br>
                                    @preference.preference
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
            </div>
        }
    } else {
        <h1>@message</h1>
    }
}
