@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@


    @if(session.get("id") != null) {
        <h1>Buscar una nueva recomendación</h1>
        <form id="myAjaxDrivenForm" action="\recommend" method="get">

            <div class="form-group">
                <label>
                    Numero de Vecinos:
                    <input type="number" name="numberNeighbors" class="form-control">
                </label>
            </div>

            <button type="submit" class="btn btn-primary">Pedir Recomendación</button>
        </form>
    } else {
        <h1>@message</h1>
    }
}
